@font-face {
  font-family: 'Linerama';
  src: url('./fonts/linerama.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  scrollbar-width: none;
}

:root{
  font-size: 10px;
  font-family: 'Linerama';
}

::-webkit-scrollbar{
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #181818;
}
